{% extends 'layout.html' %}
{% block content %}
    {% for post in redis_posts %}
        <article class="media content-section">
            <div class="media-body">
                <div class="article-metadata">
                    {#                    <small class="text-muted">2018</small>#}
                    <div>
                        <form action="" method="post">
                            <button type="submit" name="post_name" value="{{ post.decode() }}"
                                    class="btn btn-danger btn-sm">Delete
                            </button>
                        </form>
                    </div>
                </div>
                <p style="margin-top: 16px; font-size: 20pt;" class="article-content">{{ post.decode() }}</p>
            </div>
        </article>
    {% endfor %}
{% endblock content %}